html, body {
    height: 100%;
}
.page-tab-btn {
    cursor: pointer;
    min-width: 4em;
}
a { text-decoration: none; }
dialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
textarea{ resize: both; }
#page-view {
    background-image: url('../img/logo_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64%;
}
#page-view * {
    background-image: none;
}
#iframe-container{
    height: 300px;
    width: 300px;
    background-color: #ff22ff;
    overflow: scroll;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -10000;
}
#main-window-view{ background-color: #fff; }